{
  "env": {
      "browser": true,
      "es6": true,
      "node": true
  },
  "parser": "@typescript-eslint/parser",

  "parserOptions": {
      "project": "./tsconfig.json",
      "sourceType": "module"
  },
  "plugins": [
      "@typescript-eslint"
  ],
  "settings": {
      "import/parsers": {
          "@typescript-eslint/parser": [".ts", ".tsx"]
      },
      "import/resolver": {
          "typescript": {
              "alwaysTryTypes": true
          }
      }
  },
  "extends": [
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier"
  ],
  "rules": {}
}
